/* Layout Admin.css handles basic table sizing, here we can add specifics */
.dataTables_wrapper {
    padding-top: 10px;
}

.dataTables_filter input {
    padding: 5px;
}

.dataTables_length select {
    padding: 4px;
}